[DATABASE]
NAME = name
USER = SA
PASSWORD = pass
HOST = 127.0.0.1
PORT = 1433

[API]
DESCRIPTIONS = /var/galaxy-descriptions
KEY = 12345
PORT = 8000
PAGE_SIZE = 20
CACHE_TIMEOUT = 3600
ALLOWED_HOSTS = *

[LOG]
DIR = /var/log/galaxy-api
LEVEL = INFO

[SSL]
CERT = /ssl-cert.pem
KEY = /ssl-cert.key
PASSWORD = /ssl-cert-pass.txt