[DATABASE]
NAME = 'name'
USER = 'SA'
PASSWORD = 'pass'
HOST = '127.0.0.1'
PORT = '1433'

[API]
KEY = 12345
PAGE_SIZE = 20
CACHE_TIMEOUT = 3600
ALLOWED_HOSTS = *

[LOG]
DIR = /var/log/galaxy-api
LEVEL = INFO
