# nginx-app.conf

upstream django {
    server unix:/usr/src/app/app.sock;
}

server {
    server_name .api.galaktika.ru;
    charset     utf-8;

    {% if NGINX_ENABLE_SSL|default('False') == 'True' %}
    listen 443;
    ssl on;
    ssl_password_file /etc/nginx/certs/ssl-cert.pass;
    ssl_certificate /etc/nginx/certs/ssl-cert.pem;
    ssl_certificate_key /etc/nginx/certs/ssl-cert.key;
    {% else %}
    listen 80;
    {% endif %}

    client_max_body_size 75M;

    # Django media
    location /static {
        alias /var/www/galaxy-api/static;
    }

    location / {
        uwsgi_pass  django;
        include     /usr/src/app/uwsgi_params;
    }
}
